<ion-view view-title="ContactUs">
  <ion-content>
	<div class="card">
		<div class="item item-divider">
			Contact Information
		</div>
		<div class="item item-text-wrap">
			Anoop Monish<br>
				<i class="icon ion-android-mail positive"></i>&nbsp;&nbsp;anoopmonish@gmail.com
			<br>
			<div class="alert alert-info">
				<span><b>Please feel free to drop a mail with comments :)</b></span>
			</div>
			<div class="footer">
			<hr>
			<i class="icon ion-ios-information-outline"></i>
			This application is designed as an assignment for <a target="blank" href="http://www.coursera.org/learn/web-development-project/home/welcome">Coursera</a>.
				</div>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>